doctype html
html
  head
    title Cat Academy
    meta charset='utf-8'
    link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'
    link rel='stylesheet' href='style.css'
    link rel='icon' href='images/icon.png'
    script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'
    script src='//checkout.stripe.com/checkout.js'
    meta name="google-site-verification" content="gUkmMPVrwtBqCw_9zP6BNUjcT6zqhVDKokckqaRvPuA"

  body
    .header
      .hero
        img src='images/logo.png'

        h1 Cat Academy
        h2 Crowdfunded local courses & workshops from people who care.

        .navigation
          a.left href='#first-course' Check out our first course
          a.right href='#newsletter-signup' Be notified of future events

    .content

      .mission-statement
        markdown:
          We are <b><i><a href='http://robo.cat'>Robocat</a></i></b>,
          a product company from Copenhagen.  Over the years we have
          built apps, games and even hardware. We've grown a small
          team of very talented people and we've learned a lot doing
          this. We are launching Cat Academy, an initiative to share
          our experience and knowledge with you through honest and
          well crafted learning events.

        a.tweet-tag href='https://twitter.com/intent/tweet?text=.@robocat+is+introducing+%23CatAcademy+–+Crowdfunded+local+courses+%26+workshops+from+people+who+care:+catacademy.dk' Share on Twitter

      .course
        .course-card#first-course
          .tagline
            .tag course

          p
            markdown:
              July 13–14^(th)

          h1.title
            span style='font-weight: normal' ⌛

          .progress-bar
            .seats-available
              .value  _/_
              | Seats available
            .seat-goal
              .value _
              | Seat goal
            .bar
              .progress

          .action
            a.buy-ticket href='#' Back This Course
            .price
              | Get 1 seat for a very special early-cat price of
                  <strong><small>DKK</small> 3.141,–</strong>
              br
              br
              small
                | You will only be charged if the campaign reaches its goal.
                |  If you don't like the course—we'll give the money back.

        .description
          .quote
            markdown:
              "Help! My App Needs a Back-end!"

          .copy
            markdown:
              Most products these days, even the simplest apps
              need some measure of back-end development.
              More and more people are learning the design and
              front-end tools to create the products of their
              dreams but back-end development remains one of
              the trickier aspects of the process. We'd like to
              help you with that.

        .what-you-learn
          h3 What you'll learn

          .copy
            markdown:
              During the two-day course you will develop a
              small API server for a turn-based multiplayer
              game. You will learn to use the following
              technologies and tools:

                * Python programming language,
                * Flask–web micro-framework,
                * SQLAlchemy—object-relational mapping library,
                * Heroku—app-hosting platform.

              You will not become an expert in these technologies,
              but you will learn enough to be able to use them to
              create simple API servers, and be prepared enough to
              be able to study further on your own.

        .instructor
          h3 Instructor

          .copy
            markdown:
              [Vladimir Keleshev](https://twitter.com/keleshev) is a software
              developer at Robocat.  He worked on back-ends of online games,
              such as [Gameglobe](http://gameglobe.com/) and
              [Wordbase](http://www.wordbaseapp.com/).  He also authored some
              open-source projects, such as
              [docopt](https://github.com/docopt/docopt) and
              [schema](https://github.com/keleshev/schema).  As a hobby he
              helps teaching a [Python
              course](http://www2.compute.dtu.dk/courses/02819/) at Technical
              University of Denmark as a teaching assistant.  He co-organizes
              [Python meetup](http://pycon.dk/) as well as [Polyglots
              meetup](http://www.polyglots.dk/) in Copenhagen area.
              Occasionally he speaks at
              [conferences](http://youtu.be/pXhcPJK5cMc) and
              [meetups](http://youtu.be/1h1mM7VwNGo).

        .prerequisites
          h3 Prerequisites

          .copy
            markdown:
              Here are the things that are necessary to know in before joining
              this course:

               * programming in an *object-oriented* style, in a language such
               * as
                 JavaScript, Objective-C, Java, C# or other;
               * *version-control* systems, such as
                 Subversion, Mercurial or Git;
               * *SQL* and relational databases,
               * *Unix* operating system (e.g. OS X or Linux) and its *shell*.

              You will need to bring a laptop with <abbr>OS X</abbr> or Linux
              operating system installed. If you have Windows you can use
              [VirtualBox](http://www.psychocats.net/ubuntu/virtualbox) to
              install Linux alongside Windows in a sandbox environment.  But
              remember that you still need basic knowledge of Unix and shell.

              *Unlike the title suggests, you do not need to be a front-end
              developer to join this course.*

        .details

          .left
            markdown:
              ### Preliminary Schedule

              Thursday, July 13^(th)

              * 09:30 Breakfast
              * 12:00 Lunch
              * 14:00 Coffee break
              * 16:00 Coffee break
              * 16:30 Over and out

              Friday, July 14^(th)

              * 09:30 Breakfast
              * 12:00 Lunch
              * 14:00 Coffee break
              * 16:00 Coffee break
              * 16:30 Retrospective and feedback

              ### Location

              Robocat

              Pilestræde 43, 2^(nd) floor <br>
              1112 Copenhagen <br>
              Denmark

          .right
            markdown:
              ### Concept & Pricing

              Cat Academy is a new crowdfunded approach to learning. We've
              learned so much and we want to be able to organize courses,
              workshops and talks that benefit you. This is why we've taken a
              crowdfunded approach to ticket sales—a minimum amount of 5
              seats needs to be reserved for the event to go forward.

              We're aiming for very compact, hands-on events that will help
              you get familiar with awesome subjects and leave you thirsty
              for more

        .map
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2249.4510110893502!2d12.579214999999998!3d55.6811462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525310a82927d1%3A0xa3f8d542574de862!2sPilestr%C3%A6de+43%2C+1112+K%C3%B8benhavn+K!5e0!3m2!1sen!2sdk!4v1432124533841" width="850" height="450" frameborder="0" style="border:0"></iframe>

      .newsletter
        p
          | Want to be informed of future Cat Academy events?  <br>
          | Sign up for our event list
        form
          input.email#newsletter-signup type="email" placeholder="you@your-email.com"
          input.subscribe type="submit" value=""

        .tweet style='display: none'
          br
          a.tweet-tag href='https://twitter.com/intent/tweet?text=.@robocat+is+introducing+%23CatAcademy+–+Crowdfunded+local+courses+%26+workshops+from+people+who+care:+catacademy.dk' Tweet about it

    .footer
      .contents

        .location
          a href='https://goo.gl/1oLgFm'
            img.map src='images/map.png'
          .address
            markdown:

              Robocat
              -------

              Pilestraede 43, 2^(nd) Floor <br>
              1112 Copenhagen <br>
              Denmark <br>

        .social
          p
            a.twitter href='//twitter.com/robocat' @robocat
          p
            a.facebook href='//facebook.com/robocatapps'
              | /robocatapps
          p
            a.email href='mailto:support@catacademy.dk?subject=Cat Academy'
              | hello@catacademy.dk

      small.copyright Copyright © 2009–2015 Robocat

coffee:
  if location.hostname == 'catacademy.dev'
    base_url = 'http://catacademy.dev:5000'
    image_url = 'images/checkout-logo.png'
  else
    base_url = 'https://api.catacademy.dk'
    image_url = 'images/checkout-logo.png'

  render_event = (event) ->
    participants = event.participants
    progress = participants.pledged / participants.max * 100
    $('.course .title').text(event.name)
    $('.bar .progress').animate({width: "#{progress}%"}, 'slow')
    $('.seat-goal .value').text(participants.min)
    $('.seats-available .value').text(
      "#{participants.max - participants.pledged}/#{participants.max}")

  $.getJSON(base_url).done ({events, stripe}) ->
    console.log(events)
    event = events[0]
    render_event event
    checkout = StripeCheckout.configure
      key: stripe.publishable_key
      image: image_url #'images/checkout-logo.png'
      token: (token) ->
        console.log token
        url = "#{base_url}/events/#{event.id}/pledges"
        console.log(url)
        $.ajax(url, {
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(token),
        }).done () ->
          $('.buy-ticket').css(backgroundColor: 'black').text('Thank you')
          promise = $.getJSON(base_url).done ({events: [event], stripe}) ->
            render_event event
            $('.buy-ticket').text(
              "Thank you! Check your inbox #{token.email} for details."
            ).off('click')
            $('.action .price').text('')
          promise.fail (data, status, jqxhr) ->
            alert "An error occured. Please contact support@catacademy.dk."

    if event.is_fully_booked
      $('.action').html('The event was successfully funded and is fully booked. <br> For future events <a href=#newsletter-signup>signup for our newsletter</a>.')
    else
      $('.buy-ticket').on 'click', (e) ->
        console.log 'click'
        checkout.open
          name: 'Cat Academy'
          description: "Pledge for course: #{event.name}"
          amount: 314100
          currency: 'dkk'
          panelLabel: 'Pledge {{amount}}' # DKK 3,141.–'
          allowRememberMe: false
        e.preventDefault()

    $(window).on 'popstate', -> checkout.close()

  $('a[href^="#"]').on 'click', (event) ->
    target = $($(this).attr('href'))

    if target.length
      event.preventDefault()
      #target.animate {zoom: '115%'}, 1000
      #target.focus()
      $('html, body').animate {scrollTop: target.offset().top}, 500, ->
        target.focus()

  $('.newsletter form').on 'submit', (e) ->
    console.log 'submit'
    e.preventDefault()
    url = 'https://robocat-newsletters.herokuapp.com/signup'
    post_data = {email: $('input.email').val(), list: 'cat-academy'}
    $.post url, post_data, ({status, message}, _status, _xhr) ->
      console.log status
      #if status == 'success'
      $('input.email').attr('disabled', 'disabled')
      $('input.email').val('Thank you.')
      $('input.subscribe').attr('disabled', 'disabled').css('opacity', 0)
      $('.tweet').fadeIn('slow')#show('slow')

javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-63223464-1', 'auto');
  ga('send', 'pageview');
