body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-color: #424242;
  margin: 0; }

a {
  color: #424242; }

a:hover {
  text-decoration: none; }

h1 {
  font: normal 900 42pt/1.2em "lato", "Helvetica Neue", Helvetica, sans-serif; }

h3 {
  font: normal 900 22pt "lato", "Helvetica Neue", Helvetica, sans-serif;
  text-align: center; }

.header {
  color: white;
  background: url("images/header-background.png") no-repeat center;
  background-size: cover; }
  .header .hero {
    padding: 200px 0 75px 0;
    text-align: center;
    width: 800px;
    margin: 0 auto; }
    .header .hero h2 {
      font: normal 100 34pt/1.2em "lato", "Helvetica Neue", Helvetica, sans-serif; }
    .header .hero .navigation {
      padding-top: 22px;
      font-size: 18px; }
      .header .hero .navigation a {
        color: white;
        margin: 50px;
        padding: 30px; }
      .header .hero .navigation a.left {
        background: url("images/flag.png") no-repeat left;
        background-size: 26px; }
      .header .hero .navigation a.right {
        background: url("images/stamp.png") no-repeat left;
        background-size: 26px; }

.content {
  background: #E7E7E7; }
  .content .mission-statement {
    font-size: 24px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 20px; }
  .content .course {
    width: 850px;
    margin: 0 auto; }
    .content .course .course-card {
      padding: 20px;
      background-color: #BAB4DC;
      text-align: center;
      font-style: italic; }
      .content .course .course-card .tagline {
        text-align: left;
        width: 100%; }
        .content .course .course-card .tagline .tag {
          font-weight: bold;
          color: #BAB4DC;
          background-color: white;
          padding: 10px;
          display: inline-block; }
      .content .course .course-card h1 {
        margin-top: 0; }
      .content .course .course-card a.buy-ticket {
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 20px 40px;
        font-style: italic;
        display: inline-block; }
      .content .course .course-card a.buy-ticket:hover {
        background-color: #555; }
    .content .course .description {
      background-color: white; }
      .content .course .description .quote {
        text-align: center;
        padding: 20px 50px;
        width: 300px;
        float: left;
        font-size: 50px; }
      .content .course .description .copy {
        margin: 40px 0 40px 40px;
        width: 325px;
        display: inline-block; }
    .content .course .what-you-learn {
      display: inline-block;
      background: #EEC302 url("images/whiteboard.png") no-repeat right;
      background-size: 426px auto; }
      .content .course .what-you-learn .copy {
        padding: 0 450px 50px 100px; }
  .content .instructor {
    display: inline-block;
    background: white url("images/keleshev.jpg") no-repeat left;
    background-position: 100px;
    background-size: 200px auto; }
    .content .instructor .copy {
      margin: 0 50px 50px 400px; }
  .content .prerequisites {
    display: inline-block;
    background: white url("images/prerequisites-background.jpg") center;
    background-size: 1322px auto; }
    .content .prerequisites h3 {
      color: white; }
    .content .prerequisites .copy {
      background: white;
      padding: 30px;
      margin: 100px; }
  .content .details {
    display: inline-block;
    padding: 50px;
    background-color: white; }
    .content .details .left {
      float: left;
      padding-right: 75px; }

img {
  zoom: 50%; }

#main {
  color: blue;
  font-size: 0.3em; }
