body {
    margin: auto;
    padding: 0 30px;
    width: 800px;
    font-size: 25.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;

    //text-align: justify;
    background-color: #ECECEC; white; #f3f3f3; #f0f0e9;
}

@font-face {
 font-family: 'Friendly-Icons-Font';
 src: url('/fonts/Friendly-Icons-Font.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

blockquote, pre {
    border-left: 2.5px solid black;
    margin-left: 0;
    padding-left: 1.5em;
}
pre {
    padding-left: 1.5em;
}

pre em {
    color: #000;
    font-weight: 100;
}

::-moz-selection { color: white; background: #323232; }
::selection      { color: white; background: #323232; }

a { color: #000    ; #045591; font-style: italic; text-decoration: underline; }
//a:active  { color: yellow; text-decoration: none; }
//a:link    { color: blue; text-decoration: none; }
///a:visited { color: #921b51; border-bottom: 1px solid #921b51}
//a:focus   { color: red; text-decoration: none; }
a:hover   { border-bottom: 0 ;
    text-decoration: underline;
    //border-bottom: 1px solid black }


#home {
    text-align: center;
    line-height: 1.0;
    //-webkit-animation: rotateWord 360s linear infinite 0s;
}
#home:hover {
    //-webkit-animation: rotateWord 0.5s linear 1 0s;
}
@-webkit-keyframes rotateWord {
    0% {}
    100% { -webkit-transform: rotate(360deg);}
}

abbr {
    font-size: smaller;
}

sup {
    font-size: 70%;
}
h1, h2, h3, h4 {
    font-family: "lato","Helvetica Neue",Helvetica,sans-serif
}

/*small {
    font-size: 80%;
}*/

h1 {
    line-height: 1.0em;
    text-align: center;
    font-size: 42pt/1.2em;
    margin: 25.5px 0;
}

h2 {
    font-weight: 200;
    font-size: 34pt
}
h3 {
    font-weight: 100;
    font-weight: 400;
    font-size: 22;
}
/*
#home {
  padding: 10px;
  border: 1px solid black;
      border-radius: 50px;
}
#home:hover {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
  }

  to {
    border-radius: 0px;
  }
}
*/
