body
  font-family: Georgia, 'Times New Roman', Times, serif
  font-size: 24px
  font-color: #424242
  margin: 0


a
  color: #424242

a:hover
  text-decoration: none

h1
  font: normal 900 42pt/1.2em "lato", "Helvetica Neue", Helvetica, sans-serif

h3
  font: normal 900 24pt "lato", "Helvetica Neue", Helvetica, sans-serif
  text-align: center


.header
  color: white
  background: url('images/header-background.png') no-repeat center
  background-size: cover

  .hero
    padding: 200px 0 75px 0
    text-align: center
    width: 800px
    margin: 0 auto

    h2
      font: normal 100 34pt/1.2em "lato","Helvetica Neue",Helvetica,sans-serif

    .navigation
      padding-top: 22px
      font-size: 18px

      a
        color: white
        margin: 50px
        padding: 30px

      a.left
        background: url('images/flag.png') no-repeat left
        background-size: 26px

      a.right
        background: url('images/stamp.png') no-repeat left
        background-size: 26px

$purple: #BAB4DC

.content
  background: #E7E7E7

  .mission-statement
    font-size: 24px
    width: 700px
    text-align: center
    margin: 0 auto
    padding: 20px

  .course
    width: 850px
    margin: 0 auto

    .course-card
      padding: 20px
      background-color: $purple
      text-align: center
      font-style: italic

      .tagline
        text-align: left
        width: 100%

        .tag
          font-weight: bold
          color: $purple
          background-color: white
          padding: 10px
          display: inline-block

      h1
        margin-top: 0

      a.buy-ticket
        background-color: black
        color: white
        text-decoration: none
        padding: 20px 40px
        font-style: italic
        display: inline-block

      a.buy-ticket:hover
        background-color: #555

    .description
      background-color: white

      .quote
        text-align: center
        padding: 50px 50px
        width: 300px
        float: left
        font-size: 50px

      .copy
        margin: 40px 0 40px 40px
        width: 325px
        display: inline-block

    .what-you-learn
      display: inline-block
      background: #EEC302 url('images/whiteboard.png') no-repeat right
      background-size: 426px auto

      .copy
        padding: 0 400px 50px 50px


img
  zoom: 50%

#main
  color: blue
  font-size: 0.3em
